<% if @post.errors.any? %>
  <%= @post.errors.count %>errors prohibited this obj from being saved:
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>

<%= link_to new_shop_post_path do %>
  <button type="button" class="btn btn-primary rounded-circle p-0" style="width:2rem;height:2rem;">＋</button>
<% end %>

  <h3>タグリスト</h3>
    <% @genre_list.each do |list| %>
      <span>
        <%= link_to list.genre_name, tag_posts_path(genre_id: list.id) %>
        <%= "(#{list.posts.count})" %>
      </span>
    <% end %>

<h3>投稿一覧</h3>
  <ul class="list-group">
    <% @posts.each do |post| %>
      <li class="list-group-item">
        <span class="badge text-danger">
          <%= link_to "削除",shop_post_path(post.id),method: :delete %>
        </span>
        <%= image_tag post.post_image %>
        <%= post.introduction %>
      </li>
    <% end %>
  </ul>