<h3>新規投稿</h3>

<% if @post.errors.any? %>
  <%= @post.errors.count %>errors prohibited this obj from being saved:
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
  　  <% end %>
    </ul>
  <% end %>

<%= form_with model: @post, url: shop_posts_path, method: :post do |f| %>
  <p><%= f.label :introduction,"投稿内容" %></p>
  <p><%= f.text_area :introduction %></p>

  <%= f.label :location, "登録地から選択" %><br>
  <%= f.select :location_id, options_from_collection_for_select(Location.all, :id, :name, :address) %><br>

  スペースを入力することで複数のタグをつけることができます。
  <p><%= f.label :genre, "例：野菜 果物 加工食品" %></p>
  <p><%= f.text_field :genre, value: @post.genres.pluck(:genre_name) %></p>

  <p><%= f.label :post_image,"投稿画像" %></p>
  <p><%= f.file_field :post_image %></p>

  <p><%= f.submit "投稿", class: "btn btn-primary" %></p>
<% end %>