<div class="container px-5 px-sm-0">
  <div class="row">

    <div class="col-md-2">
      <div class="lead font-weight-bold">投稿詳細</div>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-11 col-lg-5">
      <%= image_tag @post.post_image, class:'post_image_show' %>
    </div>
    <div class="col-xs-11 col-lg-5">
      <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %><br>
      <%= @post.introduction %><br>
      <% @post_genres.each do |genre| %>
        <%#= link_to genre.genre_name  %>

        <%= link_to shop_genre_posts_path(genre_id: genre.id) do %>
          <%= "#{genre.genre_name}(#{genre.posts.count})" %>
        <% end %>
      <% end %>

      <%= link_to "削除",shop_post_path(@post.id),method: :delete, data: { confilm: "本当に投稿を削除しますか？" } %>

      <br>

      <!--コメントの数-->
      コメント数：<%= @post.comments.count %>
      <% if @post.manufacturer == current_manufacturer %>
        <div class="botton"><%= link_to"削除",shop_post_comment_path(@post), method: :delete,class:'btn btn-danger'%></div>
      <% end %>

    </div>

      <div id="comments-area"><%= render "shop/comments/comment",post: @post,comment: @comment %></div>

    </div>
  </div>

  <%= link_to '投稿一覧', shop_posts_path %>

</div>