<h1>投稿詳細</h1>

<%= image_tag @post.post_image %>
<%= @post.introduction %>


<div>タグ</div>
<% @post_genres.each do |genre| %>
  <%= link_to genre.genre_name  %>
<% end %>

<%= link_to genre.genre_name, shop_genre_posts_path(genre_id: genre.id) do %>
  <%= "(#{genre.posts.count})" %>
<% end %>

<!--コメントの数-->
コメント数：<%= @posts.comments.count %>
<% if @posts.manufacturer == current_manufacturer %>
  <div class="botton"><%= link_to"削除",shop_post_comment_path(@posts), method: :delete,class:'btn btn-danger'%></div>
<% end %>

<div id="comments-area"><%= render "comments/comment",posts: @posts,comment: @comment %></div>

<%= link_to '投稿一覧', shop_posts_path %>

