<div class="form-group">
  <label for="newcomment">コメントする</label>

  <% if @error_comment.present? %>
    <div id="error_explanation">
      <div class ="text-danger">
        <%= @error_comment.errors.count %>件のエラーが発生しました。
      </h2>
      <ul>
        <% @error_comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(url: shop_post_comments_path(@post), method: :post, local: true) do |f| %>
    <%= f.text_area :comment, rows:'5',placeholder: "コメントを入力",class:"form-control" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

コメント一覧
<% post.comments.each do |comment| %>
<ul class="list-group list-group-horizontal">
  <li class="list-group-item" style="col-2">
      <% if comment.manufacturer %>
        <% if comment.manufacturer.manufacturer_icon.attached? %>
          <%= image_tag comment.manufacturer.manufacturer_icon, class: 'index-icon-img' %><br>
        <% else %>
          <%= image_tag 'no_image.jpg', class: 'index-icon-img' %>
        <% end %>
      <% else comment.user %>
        <% if comment.user.user_icon.attached? %>
          <%= image_tag comment.user.user_icon, class: 'index-icon-img' %><br>
        <% else %>
          <%= image_tag 'no_image.jpg', class: 'index-icon-img' %>
        <% end %>
      <% end %>

      <% if comment.manufacturer %>
        <%= comment.manufacturer.account_name %>
      <% else comment.user %>
        <%= comment.user.account_name %>
      <% end %>
  </li>

  <li class="list-group-item" style="col-8">
    <%= comment.comment %><br>
    <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %><br>
    <% if comment.manufacturer == current_manufacturer %>
      <%= link_to "削除", shop_post_comment_path(comment.post, comment), method: :delete, data: { confirm: "本当にコメントを削除しますか？" },class:"btn btn-danger" %>
    <% end %>

  </li>
</ul>
<% end %>