<div class="container px-5 px-sm-0">
  <%= render 'search', q: @search, url: admin_users_path %>

  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h1>ユーザー一覧</h1>

      <ul class="users">
        <table class = "table">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <% @users.each do |user| %>
          <tbody>
            <tr>
              <td>
                <% if user.user_icon.attached? %>
                  <%= image_tag user.user_icon, class: 'profile-icon-img' %>
                <% else %>
                  <%= image_tag 'no_image.jpg', class: 'profile-icon-img' %>
                <% end %>
              </td>
              <td><%= user.account_name %></td>
              <td><%= user.prefecture %></td>
              <td><%= link_to "詳細", admin_user_path(user) %></td>
            </tr>
          </tbody>
          <% end %>

        </table>
      </ul>
    </div>
  </div>
</div>