<% if @user.errors.any? %>
  <%= @user.errors.count %>件のエラーが発生しました
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>

<%= form_with model: @user, url: public_users_information_edit_path do |f| %>

<div class="container px-5 px-sm-0">
  <h2>ユーザー情報編集</h2>

  <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <label for="inputUserIcon">ユーザーアイコン</label>
        </div>
        <div class="col-md-5">
          <%= f.file_field :user_icon, id:"inputUserIcon" %>
        </div>
      </div>
    </div>

  <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <label for="inputAccountName">ユーザーアカウント名</label>
        </div>
        <div class="col-md-5">
          <%= f.text_field :account_name, autofocus: true, class: 'form-control', id:"inputAccountName",　placeholder: "いんふぉ屋" %>
        </div>
      </div>
    </div>

  <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <label for="inputIntroduction">ユーザー説明文</label>
        </div>
        <div class="col-md-5">
          <%= f.text_field :introduction, class: 'form-control', id:"inputIntroduction", placeholder: "〇〇市で無人販売所を巡っています。" %>
        </div>
      </div>
    </div>

  <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <label for="inputEmail">メールアドレス</label>
        </div>
        <div class="col-md-5">
          <%= f.text_field :email, class: 'form-control', id:"inputEmail", placeholder: "sample@example.com" %>
        </div>
      </div>
    </div>

  <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <label for="inputPrefecture">都道府県</label>
        </div>
        <div class="col-md-5">
          <%= f.collection_select :prefecture, JpPrefecture::Prefecture.all, :name, :name, { include_blank: '都道府県' }, { class: 'form-control' } %>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-3 offset-md-1">
      <button type="submit" class="btn btn-success">編集内容を保存</button>
    </div>

  <% end %>

    <div class="col-md-3 offset-md-2">
      <%= link_to public_users_unsubscribe_path do %>
        <button type="button" class="btn btn-danger">退会する</button>
      <% end %>
    </div>
  </div>
</div>