<% if @user.errors.any? %>
  <%= @user.errors.count %>件のエラーが発生しました
  <% @user.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>

<%= form_with model: @user, url: public_users_information_path do |f| %>

<div class="container px-5 px-sm-0">
  <h2>ユーザー情報編集</h2>

  <p>ユーザーアイコン</p>
  <label for="inputUserIcon"></label>
  <%= f.file_field :user_icon, id:"inputUserIcon" %>

  <p>ユーザーアカウント名</p>
  <label for="inputAccountName"></label>
  <%= f.text_field :account_name, autofocus: true, id:"inputAccountName",　placeholder: "いんふぉ屋" %>

  <p>ユーザー説明文</p>
  <label for="inputIntroduction"></label>
  <%= f.text_field :introduction, id:"inputIntroduction", placeholder: "〇〇を生産している農家です。～" %>

  <p>メールアドレス</p>
  <label for="inputEmail"></label>
  <%= f.text_field :email, id:"inputEmail", placeholder: "sample@example.com" %>

  <p>都道府県</p>
  <label for="inputPrefecture"></label>
  <%= f.collection_select :prefecture, JpPrefecture::Prefecture.all, :name, :name, { include_blank: '都道府県' }, { class: 'custom-select' } %>

  <div class="row">
    <div class="col-md-3 offset-md-1">
      <button type="submit" class="btn btn-success">編集内容を保存</button>
    </div>

  <% end %>

    <div class="col-md-3 offset-md-2">
      <%= link_to public_users_unsubscribe_path do %>
        <button type="button" class="btn btn-danger">退会する</button>
      <% end %>
    </div>
  </div>
</div>